.tabs-bar {
	display: flex;
	box-sizing: border-box;
	background: $gab-brand-default;
	flex: 0 0 auto;
	overflow-y: auto;
	height: 50px;
	position: sticky;
	top: 0;
	z-index: 1000;

	&__container {
		display: flex;
		box-sizing: border-box;
		width:100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;

		// NOTE - might need to adjust this based on column sizing
		@media screen and (max-width: $nav-breakpoint-4) {padding: 0 10px;}

	}

	&__split {
		display: flex;
		width: auto;

		&--left {
			margin-right: auto;
		}

		&--right {
			margin-left: auto;
			padding-top: 8px;
			@media screen and (max-width: $nav-breakpoint-3) {padding-top: 4px;}
		}
	}

	&__search-container {
		display: block;
		@media screen and (max-width: $nav-breakpoint-2) {display: none;}
		width: 251px;
		.search {
			margin: 0;
		}

		@media (min-width:852px) and (max-width: 960px) {
			width: 160px;
		}

		@media (min-width:$nav-breakpoint-2) and (max-width: 852px) {
			width: 200px;
		}
	}

	&__profile {
		position: relative;
		overflow: hidden;
		margin: 0 0 0 20px;
		height: 34px;
		width: 34px;

		@media screen and (max-width: $nav-breakpoint-3) {
			height: 42px;
			width: 42px;
			margin: 0;
		}

		.account__avatar {
			width: 34px;
			height: 34px;
			background-size: 34px 34px;

			@media screen and (max-width: $nav-breakpoint-3) {
				width: 42px;
				height: 42px;
				background-size: 42px 42px;
			}


		}

		.compose__action-bar {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: -5px;
			bottom: 0;

			i {
				display: none;
			}
		}
	}
	&__button-compose {
		display: block;
		@media screen and (max-width: $nav-breakpoint-3) {display: none;}
		width: 70px;
		height: 34px;
		margin-left: 20px;
		border-radius: 4px;
		background-image: url('../images/sprite-main-navigation.png');
		background-color: #e600e6 !important;
		background-repeat: no-repeat;
		background-size: 161px 152px;
		background-position: 18px 2px;
		transition: background-color 0.2s;
		&:hover {
			background-color: #ff4eff !important;
			background-position: 18px -98px;
			box-shadow: inset 0px 0px 6px darken($gab-brand-default, 10%);
		}
		span {display: none;}
	}

	&__button {
		margin-left: 12px;
    height: 34px;
	}

	.flex {
		display: flex;
	}
}

.tabs-bar__link {
	display: flex;
	flex: 1 1 auto;
	margin: 0 25px 0 0;
	color: white;
	text-decoration: none;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url('../images/sprite-main-navigation-links.png');
	background-size: auto 84px;
	position: relative;
	@media screen and (max-width: $nav-breakpoint-1) {
		background-size: auto 120px;
		width: 36px;
		margin: 4px 4px 0 0;
		padding: 0 !important;
		& > span {display: none;}
	}

	// REMINDER - to add the remaining icons (globe / word balloon) from the sprite into this css as necessary
	&.home {
		padding: 16px 0 0 26px;
		background-position: 0 18px;
		// &.active {background-position: 0 -52px;}
		@media screen and (max-width: $nav-breakpoint-1) {
			background-position: 6px 11px;
			// &.active {background-position: 6px -89px;}
		}
	}
	&.notifications {
		padding: 16px 0 0 22px;
		background-position: -140px 18px;
		// &.active {background-position: -140px -52px;}
		@media screen and (max-width: $nav-breakpoint-1) {
			background-position: -190px 11px;
			// &.active {background-position: -190px -89px;}
		}
	}
	&.groups {
		padding: 16px 0 0 29px;
		background-position: -280px 18px;
		// &.active {background-position: -280px -52px;}
		@media screen and (max-width: $nav-breakpoint-1) {
			background-position: -395px 11px;
			// &.active {background-position: -395px -89px;}
		}
	}
	&.apps {
		padding: 16px 0 0 29px;
		background-position: -825px 18px;
		@media screen and (max-width: $nav-breakpoint-1) {
			background-position: -1170px 11px;
		}
	}
	&.optional {
		display: none;
		@media screen and (max-width: $nav-breakpoint-2) {
			display: flex;
			background-position: -992px 11px;
			// &.active {background-position: -992px -89px;}
		}
	}

	&::before {
		content: "";
    display: block;
    width: 100%;
    height: 0;
    background: #e600e6;
    position: absolute;
    bottom: 0;
    left: 0;
		transition: 0.2s;
	}

	&.active::before,
	&:hover::before {
		height: 7px;
	}

	&--logo {
		display: block;

		// NOTE - Revisit right-margin of home button / positioning between 376px and 350px
		//		- want to keep the icons centered between logo and profile image while shrinking
		@media screen and (max-width: $nav-breakpoint-4) {display:none;}

		width: 90px;
		height: 50px;
		margin-right: 28px;
		border: none;
		background-image: url('../images/gab_logo_white.svg');
		background-repeat: no-repeat;
		background-position: 0 10px;
		background-size: 80px 30px;
		filter: saturate(160%);
		& span {display: none !important;}
		&:hover {
			border: none !important;
		}


	}
	&--no-highlight,
	&--no-highlight:hover,
	&--no-highlight.active,
	&--no-highlight:active,
	&--no-highlight:focus {
		background: transparent !important;
		border-bottom-color: transparent !important;
	}
}
